<div id="<%= dom_id tenant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tenant.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Plan:</strong>
    <%= tenant.plan %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Plan changed at:</strong>
    <%= tenant.plan_changed_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Plan expires at:</strong>
    <%= tenant.plan_expires_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tax number:</strong>
    <%= tenant.tax_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= tenant.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Locale:</strong>
    <%= tenant.locale %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Time zone:</strong>
    <%= tenant.time_zone %>
  </div>
</div>
